.item1 {
    background-color: blueviolet;
 }
 
 .item2 {
    background-color: gray;
    grid-column: 1/-1;
 }
 
 .item3 {
    background-color: greenyellow;
 }
 
 .item4 {
    background-color: red;
 }
 
 /* .item5 {
    background-color: aqua;
 }
 
 .item6 {
    background-color: yellow;
 } */
 
 /* .item7 {
    background-color: sandybrown;
 } */
 
 /* .item8 {
    background-color: crimson;
 } */
 
 .container {
     height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2 , 100px);
    grid-template-columns: 20% 80%;
    grid-template-rows: 50px 500px 50px;
    grid-gap: 3px;
 }
 